{% extends "base.html" %}

{% block content %}

    <form action="/login" method="POST">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value="{{user}}">
                    <span class="error">{{user_error}}{{blank_error}}</span>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                    <span class="error">{{pass_error}}{{password_error}}</span>
                </td>
            </tr>
        </table>    
            <input type="submit">
            <p>Don't have an account <a href="/signup">Create one!</a> </p>
        </form>
    </body>
</html>
   

{% endblock %}